<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>armv7</key>
		<true/>
	</dict>
	<key>apple-id</key>
	<string>meiquzhanghao0318@tom.com</string>
	<key>artistId</key>
	<integer>687237009</integer>
	<key>artistName</key>
	<string>Shadow Launch Technology Limited</string>
	<key>asset-info</key>
	<dict>
		<key>file-size</key>
		<integer>16285456</integer>
		<key>flavor</key>
		<string>10:purple</string>
	</dict>
	<key>bundleDisplayName</key>
	<string>Shadowrocket</string>
	<key>bundleShortVersionString</key>
	<string>2.1.37</string>
	<key>bundleVersion</key>
	<string>865</string>
	<key>copyright</key>
	<string>© 2019 Li Guangming</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>Utilities</string>
	<key>genreId</key>
	<integer>6002</integer>
	<key>ipaInstallPath</key>
	<string>/var/folders/ny/_zt2yytj58qdhvs8_xhm8l6r0000gn/T/com.apple.configurator.xpc.InternetService/TemporaryItems/MobileApps/932747118/45A61B75-476D-4804-BECB-21F4D75FFEF2</string>
	<key>is-purchased-redownload</key>
	<true/>
	<key>itemId</key>
	<integer>932747118</integer>
	<key>itemName</key>
	<string>Shadowrocket</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>Shadow Launch Technology Limited</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<string></string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Unrestricted Web Access and Advisory.NO.GAMBLING_CONTESTS</string>
		<key>label</key>
		<string>17+</string>
		<key>rank</key>
		<integer>600</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2015-04-14T02:09:18Z</string>
	<key>s</key>
	<integer>143444</integer>
	<key>softwareIcon57x57URL</key>
	<string>https://is2-ssl.mzstatic.com/image/thumb/Purple123/v4/92/0d/ac/920dac0d-2b1c-d25d-be8b-cb38d27cdd89/AppIcon-0-0-1x_U007emarketing-0-0-0-10-0-0-85-220.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>9</integer>
		<integer>2</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.liguangming.Shadowrocket</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>833460578</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>821578460</integer>
		<integer>821894281</integer>
		<integer>822462529</integer>
		<integer>823028831</integer>
		<integer>823122119</integer>
		<integer>823522492</integer>
		<integer>823929353</integer>
		<integer>824052373</integer>
		<integer>824315795</integer>
		<integer>825291899</integer>
		<integer>825447059</integer>
		<integer>825788496</integer>
		<integer>827612035</integer>
		<integer>828563398</integer>
		<integer>828720430</integer>
		<integer>831435528</integer>
		<integer>831602429</integer>
		<integer>831709790</integer>
		<integer>831757470</integer>
		<integer>831886697</integer>
		<integer>831915471</integer>
		<integer>832036031</integer>
		<integer>832159834</integer>
		<integer>832336992</integer>
		<integer>832835020</integer>
		<integer>833073576</integer>
		<integer>833434630</integer>
		<integer>833460578</integer>
	</array>
	<key>userName</key>
	<string>meiquzhanghao0318@tom.com</string>
	<key>vendorId</key>
	<integer>2214883</integer>
	<key>versionRestrictions</key>
	<integer>0</integer>
</dict>
</plist>
